[submodule "sdk"]
	path = sdk
	url = https://github.com/openmultiplayer/open.mp-sdk.git
[submodule "network"]
	path = network
	url = https://github.com/openmultiplayer/open.mp-network.git
[submodule "pawn-natives"]
	path = pawn-natives
	url = https://github.com/openmultiplayer/pawn-natives.git
[submodule "pawn"]
	path = pawn
	url = https://github.com/openmultiplayer/compiler.git
[submodule "websocketpp"]
	path = websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git